html, body {
    height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Consolas';
    font-weight: 400;
    color: #fafafa;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: contain;
}

* {
	box-sizing: border-box;
}

body {
    background: #313453;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shape-container {
    position: absolute;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2));
    height: 100%;
    width: 100%;
    z-index: -1;
}

#standard {
    width: 100%;
    height: 100%;
    clip-path: polygon(51% 32%, 100% 15%, 100% 100%, 26% 100%);
    background: #40446B;
}

#light {
    width: 100%;
    height: 100%;
    clip-path: polygon(61% 0, 36% 29%, 83% 66%, 0 88%, 0 0);
    background: #555A8E;
}
